.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  margin-top: 5%;
  background-image: url('../../../../assets/images/huella-fondo.png');
  background-size: cover;
  font-size: 20px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.container>* {
  z-index: 2;
}

.formulario {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-title {
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 37px;
  font-weight: 600;
  z-index: 3;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.field-label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

.input-km,
.input-textarea {
  width: 100%;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-text-primary);
  box-sizing: border-box;
}

.input-km {
  min-height: 50px;
}

.input-textarea {
  min-height: 100px;
  resize: vertical;
}

/* Estilo para el switch */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.switch-text {
  margin-right: 10px;
  font-size: 20px;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CE205F;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #4caf50;
}

input:checked+.slider:before {

  transform: translateX(22px);
}


.btn-continuar {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--color-text-primary);
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}

.char-count {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
}

/*  Estilo error */
.error {
  color: #CE205F;
  font-size: 20px;
  margin-top: 5px;
}