.camera-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.photos-gallery {
  position: absolute;
  top: 20px;
  left: 0;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 10px;
  z-index: 1;
  transform: rotate(90deg);
}

.photo-slide {
  display: none;
  transition: transform 0.3s ease-in-out;
  padding: 0 10px;
}

.photo-slide.active {
  display: block;
}

.actions {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 150px;
  transform: rotate(90deg);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #CE205F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4caf50;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  gap: 10px;
}

.slider-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 100%;
  height: 60%;
  pointer-events: none;
  z-index: 10;
  transform: rotate(90deg);
}

.overlay-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
}