.container {
  text-align: center;
  margin-top: 20vh;
}
.btn-comenzar {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
